.statistics {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
}

.statistics .title {
    color: gray;
    font-weight: 500;
    padding: 30px 0;
    margin: 0;
}

.stat-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.stat-list li {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.stat-list .item {
    display: flex;
    flex-direction: column;
}

.stat-list .item .label {
    margin-bottom: 10px;
    font-size: 14px;
}

.stat-list .item .percentage {
    font-size: 26px;
}