.transactionHistory {
    margin: 0 auto;
    text-align: center;
}

.transactionHistory tr, .transaction-history th {
    display: flex;
}

.transactionHistory thead th {
    background-color: lightblue;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.transactionHistory thead th:not(:last-child) {
    border-right: 1px solid white;
}

.transactionHistory tbody td {
    font-size: 20px;
    padding-top: 10px;
    width: 200px;
    height: 40px;
}

.transactionHistory tbody td:not(:last-child) {
    border-right: 1px solid lightgray;
}

.transactionHistory tbody tr:nth-child(2n) {
    background-color: rgb(176, 216, 230, 0.5);
}